#### Import Libraries

In [1]:
import pandas as pd
# ^^^ pyforest auto-imports - don't write above this line

#### Read data from wikipedia page

In [2]:
df = pd.read_html('https://en.wikipedia.org/wiki/Global_Gender_Gap_Report', header = 1, attrs={'class': "wikitable sortable"})[0]
df.head()

,Country,Region,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015[15],2016[14],2017,2018,2020
0,Albania,Europe,0.6607,0.6685,0.6591,0.6601,0.6726,0.6748,0.6655,0.6412,0.6869,0.701,0.704,0.728,0.734,0.769
1,Algeria,Africa,0.6018,0.6068,0.6111,0.6119,0.6052,0.5991,0.6112,0.5966,0.6182,0.632,0.642,0.629,0.629,0.634
2,Angola,Africa,0.6039,0.6034,0.6032,0.6353,0.6712,0.6624,NaN,0.6659,0.6311,0.637,0.643,0.640,0.633,0.660
3,Argentina,South America,0.6829,0.6982,0.7209,0.7211,0.7187,0.7236,0.7212,0.7195,0.7317,0.734,0.735,0.732,0.733,0.746
4,Armenia,Europe and Central Asia,NaN,0.6651,0.6677,0.6619,0.6669,0.6654,0.6636,0.6634,0.6622,0.668,0.669,0.677,0.678,0.684

#### Clean and select Columns of choice|

In [3]:
df.rename(columns={'2015[15]':'2015', '2016[14]':'2016', '2020':'2019'}, inplace=True)
df = df[['Country', 'Region','2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']]
df.head()

,Country,Region,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Albania,Europe,0.6726,0.6748,0.6655,0.6412,0.6869,0.701,0.704,0.728,0.734,0.769
1,Algeria,Africa,0.6052,0.5991,0.6112,0.5966,0.6182,0.632,0.642,0.629,0.629,0.634
2,Angola,Africa,0.6712,0.6624,NaN,0.6659,0.6311,0.637,0.643,0.640,0.633,0.660
3,Argentina,South America,0.7187,0.7236,0.7212,0.7195,0.7317,0.734,0.735,0.732,0.733,0.746
4,Armenia,Europe and Central Asia,0.6669,0.6654,0.6636,0.6634,0.6622,0.668,0.669,0.677,0.678,0.684

#### Overview of the data

In [4]:
df.shape

(147, 12)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 12 columns):
Country    147 non-null object
Region     147 non-null object
2010       134 non-null float64
2011       135 non-null float64
2012       135 non-null float64
2013       136 non-null float64
2014       136 non-null float64
2015       145 non-null float64
2016       142 non-null float64
2017       142 non-null float64
2018       143 non-null float64
2019       145 non-null float64
dtypes: float64(10), object(2)
memory usage: 13.9+ KB

In [6]:
df.describe()

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
count,134.000000,135.000000,135.000000,136.000000,136.000000,145.000000,142.000000,142.000000,143.000000,145.000000
mean,0.677932,0.679217,0.684240,0.686394,0.692211,0.695303,0.694577,0.697739,0.697678,0.703745
std,0.061256,0.060533,0.059688,0.060218,0.059303,0.059923,0.058136,0.058721,0.059352,0.059859
min,0.460300,0.487300,0.505400,0.512800,0.514500,0.484000,0.516000,0.516000,0.499000,0.494000
25%,0.642200,0.647200,0.649750,0.651675,0.653575,0.662000,0.662500,0.669000,0.662500,0.668000
50%,0.682500,0.681200,0.685500,0.691250,0.694200,0.698000,0.697000,0.695000,0.702000,0.708000
75%,0.715300,0.715450,0.718550,0.717700,0.726000,0.733000,0.729000,0.731000,0.732500,0.737000
max,0.849600,0.853000,0.864000,0.873100,0.859400,0.881000,0.874000,0.878000,0.858000,0.877000

#### Checking for missing values

In [7]:
df.isna().mean()

Country    0.000000
Region     0.000000
2010       0.088435
2011       0.081633
2012       0.081633
2013       0.074830
2014       0.074830
2015       0.013605
2016       0.034014
2017       0.034014
2018       0.027211
2019       0.013605
dtype: float64

#### Removing missing values

In [8]:
# indexNames = df[(df['2006'].isna()) | (df['2012'].isna()) | (df['2014'].isna())| (df['2018'].isna())].index
indexNames = df[(df['2010'].isna()) | (df['2012'].isna())| (df['2014'].isna())|(df['2017'].isna())].index
# df.drop(indexNames , inplace=True)
new_df = df.drop(indexNames)

#### Overview of the new data

In [9]:
new_df.isna().sum()

Country    0
Region     0
2010       0
2011       0
2012       0
2013       0
2014       0
2015       0
2016       0
2017       0
2018       0
2019       0
dtype: int64

In [10]:
new_df.shape

(123, 12)

In [11]:
new_df['Country'].unique()

array(['Albania', 'Algeria', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belgium', 'Belize', 'Bolivia', 'Botswana', 'Brazil',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Cambodia',
       'Canada', 'Chad', 'Chile', 'China', 'Colombia', 'Costa Rica',
       "CÃ´te d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic',
       'Denmark', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Estonia', 'Ethiopia', 'Finland', 'France', 'Georgia', 'Germany',
       'Ghana', 'Greece', 'Guatemala', 'Honduras', 'Hungary', 'Iceland',
       'India', 'Indonesia', 'Iran, Islamic Rep.', 'Ireland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Korea, Rep.', 'Kuwait', 'Kyrgyz Republic', 'Latvia', 'Lebanon',
       'Lesotho', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania',
       'Mauritius', 'Mexico', 'Moldova', 'Mongolia', 'Morocco',
       'Mozambique', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Nigeria', 'Norway', 'Pakistan', 'Panama', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russian Federation', 'Saudi Arabia', 'Senegal', 'Singapore',
       'Slovakia', 'Slovenia', 'South Africa', 'Spain', 'Sri Lanka',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Tajikistan',
       'Tanzania', 'Thailand', 'Turkey', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Venezuela', 'Vietnam', 'Yemen'], dtype=object)

In [12]:
new_df.columns

Index(['Country', 'Region', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019'],
      dtype='object')

In [13]:
new_df.to_csv('gender_gap_2010_2020.csv')

In [14]:
df.to_csv('gender_gap_2010_2020_complete.csv')

In [15]:
df.shape

(147, 12)